h1 {
	color:red;
	margin-left:auto;
	margin-right:auto;
	margin-top:.18em;
	font-weight:300;
}
.details {
	background-color: #2C66B8;
}

p {
	color:white;
	font-size:18px;
	text-shadow: 0 -1px rgba(255, 163, 2, 0.3);
}
div.links{
	position: fixed;
}
div.links a{
	font-size:18px;
	color:white;
}
div.content {
	margin-left: auto;
	margin-right: auto;
	width: 65%;
	min-width: 33em;
	max-width: 80em;
}
h2 {
	background-color: #4A7CC2;
	border-bottom: solid 0.104em #7198C1;
	border-top: solid 0.104em #7198C1;
	-webkit-box-shadow: 0 0 0.8333em rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 0.8333em rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 0.8333em rgba(0, 0, 0, 0.4);
	clear: both;
	color: #FFFFFF;
	margin-bottom: 0.625em;
	margin-top: 0.9375em;
	padding: 0.1875em 0;
	text-align: center;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
}